bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/Humanizer.dll
bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.Internal.dll
bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net6.0/Microsoft.Extensions.Identity.Core.dll
bin/Debug/net6.0/Microsoft.Extensions.Identity.Stores.dll
bin/Debug/net6.0/Microsoft.Identity.Client.dll
bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net6.0/Microsoft.OpenApi.dll
bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/ObaidaAl_NaheelTask_001.deps.json
bin/Debug/net6.0/ObaidaAl_NaheelTask_001.dll
bin/Debug/net6.0/ObaidaAl_NaheelTask_001.exe
bin/Debug/net6.0/ObaidaAl_NaheelTask_001.pdb
bin/Debug/net6.0/ObaidaAl_NaheelTask_001.runtimeconfig.json
bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net6.0/System.Drawing.Common.dll
bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net6.0/System.Runtime.Caching.dll
bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0/System.Security.Permissions.dll
bin/Debug/net6.0/System.Windows.Extensions.dll
bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
obj/ObaidaAl_NaheelTask_001.csproj.EntityFrameworkCore.targets
obj/ObaidaAl_NaheelTask_001.csproj.nuget.dgspec.json
obj/ObaidaAl_NaheelTask_001.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.assets.cache
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.csproj.AssemblyReference.cache
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.csproj.CopyComplete
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.dll
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.genruntimeconfig.cache
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.pdb
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/ref/ObaidaAl_NaheelTask_001.dll
obj/Debug/net6.0/refint/ObaidaAl_NaheelTask_001.dll
obj/ObaidaAl_NaheelTask_001.csproj.nuget.dgspec.json
obj/ObaidaAl_NaheelTask_001.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.assets.cache
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.csproj.AssemblyReference.cache
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.assets.cache
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.csproj.AssemblyReference.cache
obj/Debug/net6.0/ObaidaAl_NaheelTask_001.GeneratedMSBuildEditorConfig.editorconfig
